app = "fly1-tatepq"
primary_region = "gru"

kill_signal = "SIGINT"
kill_timeout = 5

[build]
  dockerfile = "Dockerfile"

[compute]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

# Serviço UDP (DNS)
[[services]]
  internal_port = 53
  protocol = "udp"
  
  [[services.ports]]
    port = 53

# Serviço TCP (DNS)
[[services]]
  internal_port = 53
  protocol = "tcp"
  
  [[services.ports]]
    port = 53
