app = "fly1-dns-server"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 53
  protocol = "udp"
  
  [[services.ports]]
    port = 53
  
  # Health check ESPECIAL para DNS
  [[services.tcp_checks]]
    interval = 10000
    timeout = 2000
    grace_period = "5s"

[[services]]
  internal_port = 53
  protocol = "tcp"
  
  [[services.ports]]
    port = 53
  
  [[services.tcp_checks]]
    interval = 10000
    timeout = 2000
    grace_period = "5s"

# Aumentar timeout de deploy
[deploy]
  strategy = "rolling"
  max_unavailable = 0
